{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
  <div class="flex">
    <!-- Sidebar Section: Categories list on the left side -->
    <div id="sidebar" class="shrink-0 w-56 p-4 bg-gray-800 bg-opacity-90 text-white rounded-lg shadow-lg sticky top-4 h-fit mr-10 mt-5">
      <h3 class="text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-yellow-500 mb-4">
        Categories
      </h3>
      <ul class="mt-4">
        <!-- All Categories Link -->
        <li {% if not category %}class="selected"{% endif %}>
          <a href="{% url 'shop:product_list' %}" class="text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-yellow-500 drop-shadow-2xl transition-all duration-300 ease-in-out hover:text-white">All</a>
        </li>
        <!-- Loop through Categories -->
        {% for c in categories %}
          <li {% if category.slug == c.slug %}class="selected"{% endif %}>
            <a href="{{ c.get_absolute_url }}" class="text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-yellow-500 to-pink-500 drop-shadow-2xl transition-all duration-300 ease-in-out hover:text-white">{{ c.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Product List Section: Display products on the right side -->
    <div id="main" class="w-full lg:w-3/4 p-4 h-full">
      <h1 class="text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-yellow-500 mb-6">
        {% if category %}{{ category.name }}{% else %}All Products{% endif %}
      </h1>
      <div class="flex flex-wrap justify-start gap-6">
        {% for product in products %}
          <div class="item flex-shrink-0 w-64 border-2 border-pink-500 p-4 rounded-lg shadow-lg h-80 transform hover:scale-105" style="box-shadow: 0 0 15px rgba(236, 72, 153, 0.5);">
            <a href="{{ product.get_absolute_url }}" class="block h-48 mb-4">
              <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" 
                   class="w-full h-full object-cover rounded">
            </a>
            <a href="{{ product.get_absolute_url }}" class="block text-xl font-semibold text-transparent bg-clip-text text-amber-500 truncate">{{ product.name }}</a>
            <span class="block text-lg font-bold text-transparent bg-clip-text text-rose-600 mt-2">${{ product.price }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}