{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Your one-stop shop for Terramon products">
  <title>{% block title %}TCG Shop{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <header id="header">
    <a href="/" class="logo">TCG Shop</a>
    <nav>
      <ul>
        <li><a href="{% url 'shop:product_list' %}">Categories</a></li>
        <li><a href="{% url 'cart:cart_detail' %}">Cart</a></li>
      </ul>
    </nav>
  </header>
  <section id="subheader">
    <div class="cart">
      {% with total_items=cart|length %}
        {% if total_items > 0 %}
          Your cart:
          <a href="{% url 'cart:cart_detail' %}">
            {{ total_items }} item{{ total_items|pluralize }},
            ${{ cart.get_total_price }}
          </a>
        {% elif not order %}
          Your cart is empty.
        {% endif %}
      {% endwith %}
    </div>
  </section>
  <main id="content">
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2024 TCG Shop. All rights reserved.</p>
    <p>This project is inspired by <em>TCG Card Simulator</em>. This is a fan-made project and is not affiliated with or endorsed by the creators of TCG Card Simulator.</p>
  </footer>
</body>
</html>

